{% extends 'common/base.html' %}
{% load static %}

{% block left_column %}
    <ul class="nav nav-stacked nav-tabs">
        <li {% if active_section == 'new' %} class="active"{% endif %}><a href="/new/"><i class="icon-plus"></i> New
            project</a></li>
        <li {% if active_section == 'projects' %} class="active"{% endif %}><a href="/projects/"><i
                class="icon-th-list"></i> My projects</a></li>
        <li {% if active_section == 'contacts' %} class="active"{% endif %}><a href="/contacts/"><i
                class="icon-envelope"></i> My
            Contacts</a></li>
        <li><a href="/logout/"><i class="icon-off"></i> Log out</a></li>
    </ul>
{% endblock %}
