{% extends 'common/base.html' %}
{% load static %}

{% block title %}Мои контакты{% endblock %}

{% block page_content %}

    <!-- question content -->
    <div class="row">
        <div class="span4 offset2">
            <p class="lead">Как мы можем с Вами связаться?</p>

            <form action="/contacts/" method="POST" id="form">{% csrf_token %}
                <textarea id="text" name="text" rows="7" class="span4" maxlength="300">{{ value }}</textarea><br>
                <button type="submit" class="btn btn-primary pull-right">Сохранить <i
                        class="icon-arrow-right icon-white"></i>
                </button>
            </form>
        </div>
    </div>


{% endblock %}