{% extends 'client/base.html' %}
{% load static %}

{% block title %}Please, answer the following questions{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="span6 offset1">
            <ul class="nav nav-tabs">
                {% for item in list %}
                    {% if forloop.counter == active %}
                        <li class="active">
                            {% else %}
                        <li>
                    {% endif %}
                <a href="http://127.0.0.1:8000/quiz/{{ item }}">{{ item }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- question content -->
    <div class="row">
        <div class="span4 offset2">
            <form>
                <fieldset>
                    <legend>{{ question_title }}</legend>
                    {% if type == 'radio' %}
                        {% for item in objects %}
                            <label class="radio">
                                <input type="radio" name="radiogroup" id="radio{{ forloop.counter }}"
                                       value="option{{ forloop.counter }}"> {{ item.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                    {% if type == 'checkbox' %}
                        {% for item in objects %}
                            <label class="checkbox">
                                <input type="checkbox" value="option{{ forloop.counter }}"> {{ item.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
    <!-- proceed -->
    <!-- proceed -->
    <div class="row">
        <div class="span1 offset6">
            <button type="submit" class="btn btn-primary">Proceed</button>
        </div>
    </div>


{% endblock %}