{% extends 'client/base.html' %}
{% load static %}

{% block title %}{{ project }}: {{ question_title }}{% endblock %}

{% block project_name %}: {{ project }} project{% endblock %}

{% block custom_scripts %}

    <script language="javascript"><!--

    var count = 0;
    {% for i in answers %}
        count++;
    {% endfor %}

    function CreateFormElement() {

        var Form = document.getElementById('form')
        var Inner = document.createElement('input');
        Inner.type = 'text';
        Inner.value = '';
        Inner.name = 'text' + count;
        Inner.className = 'span4'
        count++;
        Form.appendChild(Inner);

        var Br = document.createElement('br');
        Form.appendChild(Br);
    }
    --></script>
{% endblock %}

{% block page_content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="span6 offset1">
            <ul class="nav nav-tabs">
                {% for item in list %}
                    {% if forloop.counter == active %}
                        <li class="active">
                            {% else %}
                        <li>
                    {% endif %}
                <a href="http://127.0.0.1:8000/quiz/{{ item }}">{{ item }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- question content -->
    <div class="row">
        <div class="span4 offset2">

            <form action="{{ next }}" method="POST" id="form">{% csrf_token %}
                <fieldset>
                    <legend>{{ question_title }}</legend>
                    {% if type == 'enum' %}
                        <button form="form" type="button" onclick="CreateFormElement()" class="btn pull-right"><i
                                class="icon-plus"></i> Add
                        </button><br><br>{% endif %}

                    {% if type == 'radio' %}
                        {% comment %}{% for key, value in answers.items %}{% endcomment %}
                        {% for key, value in answers %}
                            <label class="radio">
                                <input type="radio" name="group" value="{{ key.id }}" id="{{ key.id }}"
                                       {% if value.value == "1" %}checked="true"{% endif %}>
                                {{ key.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                    {% if type == 'checkbox' %}
                        {% for key, value in answers %}
                            <label class="checkbox">
                                <input type="checkbox" name="{{ key.id }}" {% if value.value == "1" %}
                                       checked="true" {% endif %}>
                                {{ key.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                    {% if type == 'enum' %}
                        <label>{{ key.text }}
                            {% for key, value in answers %}
                                <input type="text" value="{{ value.value }}" name="text{{ forloop.counter0 }}"
                                       class="span4">
                            {% endfor %}
                        </label>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        {% comment %}{% if type == 'enum' %}
            <div class="row">
                <div class="offset4">
                    <button form="form" type="button" onclick="CreateFormElement()" class="btn pull-right"><i
                            class="icon-plus"></i> Add requirement
                    </button>
                </div>
            </div>
        {% endif %}{% endcomment %}
        <div class="row">
            <div class="offset5">
                <button form="form" type="submit" class="btn btn-primary">Proceed <i
                        class="icon-arrow-right icon-white"></i>
                </button>
            </div>
        </div>
    </div>


{% endblock %}