{% extends 'common/base.html' %}
{% load static %}

{% block title %}Аналитика{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="span6 offset1">

            <a href="/recalculate/">
                <button class="btn btn-primary btn-large pull-right" type="button">Пересчитать</button>
            </a>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Категория</th>
                    <th>Коэффициент</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.position_No }}</td>
                        <td>{{ group.group_header }}</td>
                        <td>{{ group.regression_coefficient }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}