{% extends 'common/base.html' %}
{% load static %}


{% block left_column %}
    <ul class="nav nav-stacked nav-tabs">
        <li {% if active_section == 'projects' %} class="active"{% endif %}><a href="/projects/"><i
                class="icon-th-list"></i> Projects</a></li>
        <li {% if active_section == 'contacts' %} class="active"{% endif %}><a href="/clients/"><i
                class="icon-user"></i> Clients</a></li>
        <li {% if active_section == 'analysis' %} class="active"{% endif %}><a href="/analysis/"><i
                class="icon-tasks"></i> Analysis</a></li>
        <li><a href="/logout/"><i class="icon-off"></i> Log out</a></li>
    </ul>
{% endblock %}