{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Default title{% endblock %} - Customer Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
    <link href="{% get_static_prefix %}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    {% block custom_scripts %}{% endblock %}

</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://127.0.0.1:8000/">Customer Quiz{% block project_name %}{% endblock %}</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span2 offset1">
            {% block left_column %}
                {% if not is_staff %}
                    <ul class="nav nav-stacked nav-tabs">
                        <li {% if active_section == 'new' %} class="active"{% endif %}><a href="/new/"><i
                                class="icon-plus"></i> New
                            project</a></li>
                        <li {% if active_section == 'projects' %} class="active"{% endif %}><a href="/projects/"><i
                                class="icon-th-list"></i> My projects</a></li>
                        <li {% if active_section == 'contacts' %} class="active"{% endif %}><a href="/contacts/"><i
                                class="icon-envelope"></i> My
                            Contacts</a></li>
                        <li><a href="/logout/"><i class="icon-off"></i> Log out</a></li>
                    </ul>
                {% else %}
                    <ul class="nav nav-stacked nav-tabs">
                        <li {% if active_section == 'projects' %} class="active"{% endif %}><a href="/projects/"><i
                                class="icon-th-list"></i> Projects</a></li>
                        <li {% if active_section == 'contacts' %} class="active"{% endif %}><a href="/clients/"><i
                                class="icon-user"></i> Clients</a></li>
                        <li {% if active_section == 'analysis' %} class="active"{% endif %}><a href="/analysis/"><i
                                class="icon-tasks"></i> Analysis</a></li>
                        <li><a href="/logout/"><i class="icon-off"></i> Log out</a></li>
                    </ul>
                {% endif %}
            {% endblock %}
        </div>
        <div class="span6">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="span6 offset4">
            <hr>
            <p class="text-center muted">
                <small>© <a href="http://a5.ua">A5.UA</a>, 2013</small>
            </p>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% get_static_prefix %}bootstrap/js/bootstrap.min.js"></script>
</body>
</html>