{% extends 'common/base.html' %}
{% load static %}

{% block title %}Info about "{{ project.name }}" project{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="span6 offset1">
            <p class="lead">
                Project <b>"{{ project.name }}"</b>:
            </p>
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                <tr>
                    <th>Option</th>
                    <th>Your choice</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in info %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>
                            {% for item in value %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p class="lead text-center">
                {% if project.status.name == 'New' and not is_staff %}
                    Submit project <b>"{{ project.name }}"</b> to manager?<br>
                {% elif not is_staff %}
                    Project <b>"{{ project.name }}"</b> status: {{ project.status }}<br>
                {% else %}
                    Push project <b>"{{ project.name }}"</b> to next step?<br>
                {% endif %}
                <button class="btn btn-inverse btn-large" type="submit" form="projects"><i
                        class="icon-backward icon-white"></i> Later
                </button>
                <button class="btn btn-info btn-large {% if project.status.name != 'New' and not is_staff %}disabled{% endif %}"
                        {% if project.status.name != 'New' %}disabled="disabled"{% endif %} type="submit" form="quiz"><i
                        class="icon-edit icon-white"></i> Edit
                </button>
                <button class="btn btn-success btn-large {% if project.status.name == 'Finished' or project.status.name != 'New' and not is_staff %}disabled{% endif %}"
                        {% if project.status.name == 'Finished' or project.status.name != 'New' and not is_staff %}disabled="disabled"{% endif %}
                        type="submit" form="submit">{{ btn_next_text }} <i
                        class="icon-forward icon-white"></i></button>
            <form action="/projects/" id="projects" method="POST">{% csrf_token %}</form>
            <form action="/quiz" id="quiz" method="POST">{% csrf_token %}<input type="hidden" value="{{ project.id }}"
                                                                                name="pid"></form>
            <form action="{{ btn_next_page }}" id="submit" method="POST">{% csrf_token %}<input type="hidden"
                                                                                                value="{{ project.id }}"
                                                                                                name="pid"></form>
            </p>
        </div>
    </div>
{% endblock %}