{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Default title{% endblock %} - Customer Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
    <link href="{% get_static_prefix %}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://127.0.0.1:8000/">Customer Quiz</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span5 offset2">
            <h2 class="text-info">New user?</h2>

            <p class="lead">Join us! </p>

            <p class="lead">Answer following questions, fill registration data and press "Register"</p>
            <br/>
        </div>
        <div class="span3">
            <h2 class="text-info">Returning user?</h2>

            <p class="muted">Please, introduce yourself:</p>

            <div class="control-group">
                <div class="controls">
                    <form action="/login/" method="POST">{% csrf_token %}
                        <label>
                            <input type="text" name="username" placeholder="Email">
                            <input type="password" name="password" placeholder="Password">
                        </label>
                        <button type="submit" class="btn btn-primary pull-right">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form action="/register/" method="POST" name="register" id="register">{% csrf_token %}
        <div class="row">
            <div class="span4 offset4">
                <fieldset>
                    <legend class="text-center">Project name</legend>
                    <input type="text" name="first_project_name" id="first_project_name" class="span4" required>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="span3 offset3">
                <fieldset>
                    <legend>{{ question_title1 }}</legend>
                    {% if type1 == 'radio' %}
                        {% for item in objects1 %}
                            <label class="radio">
                                <input type="radio"
                                       name="radiogroup1"
                                       value="{{ item.id }}"
                                       id="{{ item.id }}"
                                        {% if item.text == 'Not sure' %} checked {% endif %}
                                        >
                                {{ item.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                    {% if type1 == 'checkbox' %}
                        {% for item in objects1 %}
                            <label class="checkbox">
                                <input type="checkbox" name="{{ question_title1 }}"
                                       value="{{ item.id }}"> {{ item.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                </fieldset>
            </div>
            <div class="span3">
                <fieldset>
                    <legend>{{ question_title2 }}</legend>
                    {% if type2 == 'radio' %}
                        {% for item in objects2 %}
                            <label class="radio">
                                <input type="radio"
                                       name="radiogroup2"
                                       value="{{ item.id }}"
                                       id="{{ item.id }}"
                                        {% if item.text == 'Not sure' %} checked {% endif %}
                                        >
                                {{ item.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                    {% if type2 == 'checkbox' %}
                        {% for item in objects2 %}
                            <label class="checkbox">
                                <input type="checkbox" name="{{ question_title2 }}"
                                       value="{{ item.id }}"> {{ item.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                </fieldset>
            </div>
        </div>
        <p class="lead"></p>

        <div class="row">
            <div class="span3 offset3">
                <fieldset>
                    <legend>{{ question_title3 }}</legend>
                    {% if type3 == 'radio' %}
                        {% for item in objects3 %}
                            <label class="radio">
                                <input type="radio"
                                       name="radiogroup3"
                                       value="{{ item.id }}"
                                       id="{{ item.id }}"
                                        {% if item.text == 'Not sure' %} checked {% endif %}
                                        >
                                {{ item.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                    {% if type3 == 'checkbox' %}
                        {% for item in objects3 %}
                            <label class="checkbox">
                                <input type="checkbox" name="{{ question_title3 }}"
                                       value="{{ item.id }}"> {{ item.text }}
                            </label>
                        {% endfor %}
                    {% endif %}
                </fieldset>
            </div>
            <div class="span3">
                <legend>Registration data</legend>
                {% comment %}<div class="control-group">
                    <div class="controls">{% endcomment %}
                {% if username_is_ok %}
                    <input type="text" name="inputName" placeholder="Username" required>
                {% else %}
                    <div class="control-group error">
                        <input type="text" name="inputName" placeholder="Username" value="{{ username }}"
                               class="text-error" required>
                        <span class="help-block text-error">This username already exists</span>
                    </div>
                {% endif %}

                <input type="text" name="inputFirst" placeholder="First name">
                <input type="text" name="inputLast" placeholder="Last name">
                <input type="email" name="inputEmail" placeholder="Email" required>
                <input type="password" name="inputPassword" placeholder="Password" required>
                <input type="password" name="inputPasswordRetype" placeholder="Retype password" required>
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button type="button" onclick="function checkPassword() {
                            var form = document.forms['register'];
                            var a = form.inputPassword.value;
                            var b = form.inputPasswordRetype.value;
                            if (!form.inputEmail.checkValidity()) {
                                alert('Input correct email!');
                                return;
                            }
                            if (!form.first_project_name.checkValidity()) {
                                alert('Input name of your first project!');
                                return;
                            }
                            if (!form.inputName.checkValidity()) {
                                alert('Input your username!');
                                return;
                            }
                            if (!form.inputPassword.checkValidity()) {
                                alert('Input your password!');
                                return;
                            }
                            if (a != b) {
                                alert('Passwords didn\'t match!');
                                return;
                            }
                            form.submit();
                        }
                        checkPassword()" class="btn btn-primary pull-right">Register
                </button>
                {% comment %}</div>
                </div>{% endcomment %}
            </div>
        </div>

    </form>
    <div class="row">
        <div class="span4 offset4">
            <hr>
            <p class="text-center muted">
                <small>© <a href="http://a5.ua">A5.UA</a>, 2013</small>
            </p>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% get_static_prefix %}bootstrap/js/bootstrap.min.js"></script>
</body>
</html>